@import "../variables/breakpoints";

.hero-slider {
  text-align: right;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 65px;

  @include bp(desktop-md) {
    max-width: 50%;
    padding-right: 25px;
  }

  @include bp(tablet-sm) {
    padding-right: 0;
    max-width: 450px;
    width: 100%;
    text-align: center;
  }

  @include bp(mobile) {
    max-width: 100%;
    padding-top: 15px;
  }

  .swiper-container {
    width: 100%;
    overflow: visible;
  }

  .swiper-slide {
    & > * {
      opacity: 0;
      transform: translateY(35px);
      transition: all .3s ease-in-out;

      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }

    &-active {
      & > * {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__title {
    color: #ffffff;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2em;
    margin-bottom: 16px;

    @include bp(desktop-md) {
      font-size: 33px;
    }

    @include bp(mobile) {
      font-size: 27px;
    }

    .colored {
      font-size: 53px;
      color: #5ac794;
      margin-top: 7px;

      @include bp(desktop-md) {
        font-size: 45px;
      }

      @include bp(mobile) {
        font-size: 33px;
      }
    }

  }

  &__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em;
    margin-bottom: 45px;
    @include bp(mobile) {
      margin-bottom: 15px;
    }
  }

  &__tag {
    background: #354399;
    padding: 15px 15px 12px;
    color: #70f6ff;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 4px;
    display: inline-block;
    transform: scale(0.85);
    line-height: 1.5em;
    transform-origin: right;
    @include bp(tablet-sm) {
      transform-origin: center;
    }

    @include bp(mobile) {
      transform: none;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 12px;
    }
}

  &__img {
    margin-top: 30px;
  }

}
